html {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: "Computer Modern Serif", serif;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.sans-text {
    font-family: "Computer Modern Sans", sans-serif;
}

pre {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}

code {
    width: 100% !important;

    overflow-x: scroll;

    font-family: "Computer Modern Typewriter Light", monospace;

    border-radius: 7px;
}

p img {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
}

p:has(> :last-child:nth-child(1)):has(> :last-child:nth-child(1):is(img)) {
    display: flex;
    align-items: center;
    justify-content: center;
}

p img:only-child {
    float: none;
}

a {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: black;
    text-decoration: underline;
}

ul {
    list-style-type: "✧  ";
    padding-left: 15px;
}

.katex {
    font-size: 19px !important;
}

.footnote {
    color: black;
    text-decoration: none;
}
.footnote:visited {
    color: black;
    text-decoration: none;
}

.linkage {
    display: none;
}

#footnote-label {
    font-size: 20px;
    margin-bottom: 3px;
}

.link {
    text-decoration: underline;
}
.link:hover {
    cursor: pointer;
}

#topbar {
    font-weight: bold;
    font-size: 2em;

    margin-top: 10px;
    margin-bottom: 30px;

    cursor: pointer;
}

#grid {
    width: 100vw;
    max-width: 1200px;

    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

#linkage {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

#linkage-content {
    text-align: left;
}

#main {
    grid-column: 2 / 4;
    padding: 10px;

    text-align: justify;
    hyphens: auto;

    font-size: 18px;
}

#navigation {
    grid-column: 4;
    margin-left: 20px;
}

#navigation ul li .nav-element li {
    display: none;
}

#navigation ul li:hover .nav-element li {
    display: list-item;
}

#navigation-mobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .linkage {
        display: block;
    }

    #grid {
        grid-template-columns: repeat(1, 100%);
    }

    #linkage {
        display: none;
    }

    #main {
        grid-column: 1;
    }

    #navigation {
        display: none;
    }

    #navigation-mobile {
        display: block;
    }
}