
    <h2>Navigation</h2>
    <ul><li class="linkage"><span class="link" hx-get="/content/linkage.html" hx-swap="innerHTML" hx-target="#main" hx-trigger="click">Linkage </span></li><li>Math<ul><li>
                    <span class="link" hx-get="/content/math/geometry/index.html" hx-swap="innerHTML" hx-target="#main" hx-trigger="click">
                        Geometry
                    <span><ul><li><span class="link" hx-get="/content/math/geometry/definitions-&-notation.html" hx-swap="innerHTML" hx-target="#main" hx-trigger="click">Definitions & Notation </span></li></ul></li></ul></li></ul>
    