<h1>Geometry</h1>
<h2>Table of Contents</h2>
<ol>
<li><span class="link" hx-get="/content/math/geometry/1.-definitions-&-notation.html" hx-target="#main" hx-swap="innerHTML">Definitions &amp; Notation</span></li>
<li><span class="link" hx-get="/content/math/geometry/2.-shapes.html" hx-target="#main" hx-swap="innerHTML">Shapes</span></li>
<li><span class="link" hx-get="/content/math/geometry/3.-axioms.html" hx-target="#main" hx-swap="innerHTML">Axioms</span></li>
<li><span class="link" hx-get="/content/math/geometry/4.-basic-theorems.html" hx-target="#main" hx-swap="innerHTML">Basic Theorems</span></li>
</ol>
